// Colors
$primary: #1c203c;
$secondary: #14d8cc;
$darkGray: #333333;
$lightGray: #d0d1d1;
$white: #ffffff;

// Additional
$transitionAll03Ease: all 0.3s ease;

// Breakpoints
$screen-tablet-min-width: 768;
$screen-desktop-min-width: 1025;
$screen-desktop-middle-width: 1366;
